<?xml version="1.0"?>
<model>
  <name>x500_flow</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Fabian Wendelstorf</name>
    <email>fabian.wendelstorf@addi.rwth-aachen.de</email>
  </author>
  <description>An x500 with distance sensor and camera for optical flow + realsense</description>
</model>